/*
Project Name: Relaxr Site
Client: Relaxr, Inc.
Author: Amber Zipperer
Developer @GA in Seattle
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      background-size: cover;
}



/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {  
  width: 100%;
  margin: auto;
  box-sizing:border box
}

header {background-color: rgba(52,143,203,.4); 
        background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
        height: 600px;
}


/******************************************
/* BENEFIT STYLES
/*******************************************/

.benefits {
  background-color:  background color: #f0efef;
  padding: 35px 35px 25px 45px;
  width: 50%;
}

.benefits h3 {
  font-weight: 300;
}

/******************************************
/* QUOTE STYLES
/*******************************************/

section.quote {background-color: rgba(52,143,203,.8);
  text-align: center;
}

span.author-name {
  font-weight: 600;
  font-size: 1.1em;
  color: #fff;
}

.quote-dash {
  font-size: .6em;
}

blockquote {
  padding-top: 20px;
  padding-bottom: 40px;
  width: 50%;
}

blockquote p {
  font-style: italic;
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}

/******************************************
/* SIGN UP BANNER STYLES
/*******************************************/


.sign-up-banner {
      background-color: #f9e42e;
      text-align: center;
      padding: 20px 0px;
      color: fff;
}

.sign-up-banner a {
  color: #fff;
  text-decoration: none;
}

.sign-up-banner button {
  background-color: #033048;
  border-radius: 3px; 
  border: none;
  padding: 10px 45px; 
}



/******************************************
/* FOOTER STYLES
/*******************************************/


footer {
  background-color: #121212;
  text-align: center;
  color: #f9e42e;
  padding: 15px 0px 25px 0px;
}

nav ul {width: 100%;
         margin: 10px 10px;

}

nav li {display: inline; 
        margin: 10px 10px;
}

li img {height: 18px;
      
}

footer small {
  color: #fff;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/





